<div class="container">
  <div class="row justify-content-center">
    <h4 class="mt-4 display-4"><%= "#{@post.last.id} #{@post.last.title} #{@post.last.description}"%></h4>
  </div>
  <%= link_to 'Create Post', new_post_path %>
  <div class="p-3 mb-2 bg-light text-dark">
    <span class="text-info font-weight-bold">Welcome! </span>
    Create your first post
  </div>
</div>