<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <%@posts.each do |e|%>
            <h2><%=e.title%></h2>
            <p><%=e.description%></p>
            <%end%>
        </div>
        <span><%= paginate @posts %></span>
        <div class="col-sm-4"></div>
    </div>
</div>