<!-- app/views/layouts/_header.html.erb -->
<header>
  <nav>
    <!-- Navigation links -->
    <ul>
      <li><a href="<%= posts_path %>">Home</a></li>
      <li><a href="<%= new_post_path %>">New</a></li>
      <li><a href="<%= root_path %>">Contact</a></li>
    </ul>
  </nav>
</header>